# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### **Objectives:**

- List popular languages for Data Science
- Introduce common libraries used in Data Science
- Demonstrate usage of Markdown cells in Jupyter Notebook
- Create Markdown tables and lists

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia

### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Scikit-learn

### table of Data Science tools
| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| VS Code + Python   |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
3*4+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hour = 60
min_to_hours = minutes/hour
print(min_to_hours)

3.3333333333333335

## Author
Massine